.container{
    align-items: center;
    display: flex;
    height: 100%auto;
    justify-content: center;
    width: 100%;
}
.example-card{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    background-color: #f3f3f3;
    height: auto;
    padding: 2em;
    margin: 2em 0;
    width: 80%;
    height: auto;
    justify-items: center;
}
.example-full-width {
    width: 80%;
  }

span{
    display: block;
}
button{
    width: 50%;
}

/* Pintar la celda sobre la cual estamos posicionados */
.mat-mdc-row:hover .mat-mdc-cell{
    background-color: #1ae3a7;
  }

h2{
    font-weight: 800;
    margin: 1em 0;
    font-size: 2em;
}